.ball{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    float:left;
    font-size: 28px;
    text-align: center;
    color: white;
    margin:10px;
    text-shadow: 0px 0px 3px rgba(00,00,0,.8);
}
.ball1{
    background-color: lightpink;
}
.ball2{
    background-color: lightsalmon;
}
.ball3{
    background-color: lemonchiffon;
}
.ball4{
    background-color: yellowgreen;
}
.ball5{
    background-color: skyblue;
}
.ball6{
    background-color: plum;
}